section.about {
  display: flex;
  height: 500px;
}

section.about img {
  width: 50%;
  object-fit: cover;
  object-position: top;
}

section.about .about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* place-items: center; */
}

section.about .about-text h2 {
  text-align: center;
  padding: 12px;
}

section.about .about-text p {
  text-align: center;
  padding: 12px;
}
