section.projects {
  background-color: rgb(207, 244, 220);
  padding: 24px;
}

section.projects > h2 {
  text-align: center;
  padding: 12px;
}

section.projects > p {
  text-align: center;
  padding: 12px;
}

section.projects .card-wrapper {
  margin-top: 12px;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  justify-content: center;
}

/** Styling cards in projects section */

section.projects .card {
  border-radius: 32px;
  overflow: hidden;
  background-color: #1c3023;
  color: white;
  height: 250px;
  width: 250px;
}

section.projects .card img {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: top;
}

section.projects .card .card-text {
  display: grid;
  gap: 12px;
  padding: 16px;
}
